[Unit]
Description=NethServer Domain Controller container
Documentation=man:systemd-nspawn(1)
PartOf=machines.target
Before=machines.target
Before=sssd.service
After=network.service
Wants=network.service
ConditionPathExists=!/var/run/.nethserver-fixnetwork

[Service]
Environment=OPTIONS=
Environment=BRIDGE=brdef
EnvironmentFile=-/etc/sysconfig/nsdc
ExecStart=/usr/bin/systemd-nspawn --quiet --keep-unit --boot --network-bridge=${BRIDGE} --machine=nsdc ${OPTIONS}
KillMode=mixed
Type=notify
RestartForceExitStatus=133
SuccessExitStatus=133
Slice=machine.slice
Delegate=yes

[Install]
WantedBy=machines.target
